 .hero_menu{
    height: 100%;
    min-height: 750px;
    position: relative;
    z-index: -1;
    
    
}
.circle_container{
    width: 100%;
    max-width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 300px;
    filter: blur(250px); 
    z-index: -1;
     
}
.mag{
    display: none;
}
.butt{
    display: none;
}
.nu{
    display: none;
}
.search{
    display: none;
}
.circles{
    width: 60%;
    height: 200px;
    border-radius: 50%;

}
.circles:nth-child(1){
    background-color: rgb(201, 201, 218);
}
.circles:nth-child(2){
    background-color: rgb(195, 195, 207);
}
.circles:nth-child(3){
    background-color: rgb(195, 195, 207);
}
.search{
    display: flex;
    gap: 10px;
}
i{
    margin-top: 10px;
}
i:hover{
    color: white;
}
.logos{
    display: none;
}
.btn{
   width: 90px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   
}
.btn:hover{
    background-color: rgb(94, 89, 89);
}
.button{
  width: 60px;
  font-size: 16px;
  height: 40px;
  background-color: rgb(38, 37, 37);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.button:hover{
    background-color: rgb(94, 89, 89);
}
.butn{
    width: 90px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(38, 37, 37);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.butn:hover{
    background-color: rgb(94, 89, 89);
}
.buton{
   width: 90px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   margin-left: 10px;
   cursor: pointer;
}
.buton:hover{
    background-color: rgb(94, 89, 89);
}
.buttn{
   width: 60px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   margin-left: 10px;
   cursor: pointer;
   z-index: 1;
}
.buttn:hover{
    background-color: rgb(139, 132, 132); 
}
.but{
    padding: 90px;
    margin-left: 11em;
    z-index: 5;
    
    
}
.mixart_container{
    margin-top: -20px;
    padding: 5em 8em 5em 8em;
    
   
}
.top-col{
 
    
}

.buttom-col{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    gap: 25px;
    z-index: 1;
}
 h1{
    color: white;

}
.more{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 25em;
}
.img1{
    border-radius: 5px;
    width: 10em;
}
.img2{
    border-radius: 5px;
    width: 10em;
}
.img3{
   border-radius: 5px;
   width: 10em;
}
.img4{
    border-radius: 5px;
    width: 10em;
}
.img5{
    border-radius: 5px;
    width: 10em;
}
.img6{
    border-radius: 5px;
    width: 10em;
}
.bt{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgb(32, 31, 31);
    text-align: center;
    cursor: pointer;
}
.bt:hover{
    background-color: rgb(41, 38, 38);
}
.bn{
    text-align: center;
    width: 70px;
    color: white;
    background-color: black;
    border: 1px solid  rgb(32, 31, 31);
    border-radius: 40px;
    cursor: pointer;
}
.bttn:hover{
   background-color:  rgb(41, 38, 38);
}
.rosy{
    color: rgb(115, 109, 109);
    font-size: 17px;
    font-weight: bold;
}
h3{
    color: white;
}
.mum{
    padding: 10px;
}
.btttn{
    height: 3em;

}
.col{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.ra{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.mend{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.rest{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.match{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.go{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.press{
    margin-left: 25em;
    display: flex;
    gap: 1em;
}
.More{
  color: white;  
  background-color: black;
  border: 1px solid rgb(62, 60, 60);
  height: 2.5em;
  width: 3.5em;
  border-radius: 40%;
}
@media screen and (max-width:400px){
    .circle_container{
        background-image: url(https://www.gstatic.com/youtube/media/ytm/images/sbg/wsbg@4000x2250.png?sqp=CNzu9_sF-oaymwEICKALEKcGWAE&rs=ALLJMcLFnwAjdffUTx-fXHiZGS2JeF3eFg);
        filter: blur(100px);
        max-width: 400px;
        height: 100px;
        margin-left: -6em;
    }
    .circles:nth-child(1){
        display: none;
        background-color: none;
    }
    .circles:nth-child(2){
        display: none;
        background-color: none;
    }
    .circles:nth-child(3){
        display: none;
        background-color:none ;
    }
    .but{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3em;
        margin-top: -3em;
    }
    .buttom-col{
        display: flex;
        flex-wrap:wrap;
        margin-left: -6em;
    
    }
    .top-col{
     display: flex;
     width: 20em;
     margin-top: -3em;
     
        
        
    }
    
    h1{
       font-size: 1em;
       margin-left: -5em;
    
        
    }
    .mixart_container{
        margin-top: -5em;
    }
    .mix{
        
    }
    .bt{
        width: 2em;
        height: 2em;
    }
    .btttn{
        
    }
    .press{
        display: flex;
        margin-left: -34em;
        
    }
    
}




