 .hero_menu{
    height: 100%;
    min-height: 700px;
    position: relative;
    background-color: black;
    z-index: 1;
    margin-top: 70px;
}
.circle_container{
    width: 100%;
    max-width: 400px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 300px;
    filter: blur(140px); 
    z-index: 1;
     
}
.mag{
    display: none;
}
.butt{
    display: none;
}
.nu{
    display: none;
}
.search{
    display: none;
}
.circles{
    width: 60%;
    height: 200px;
    border-radius: 50%;

}
.circles:nth-child(1){
    background-color: rgb(201, 201, 218);
}
.circles:nth-child(2){
    background-color: rgb(195, 195, 207);
}
.circles:nth-child(3){
    background-color: rgb(195, 195, 207);
}
.search{
    display: flex;
    gap: 10px;
}
.home{
    display: flex;
    margin-top: 5px;
    gap: 50px;
    margin-left: -50px;

}
.container{
    display: flex;
    margin-left: px;
    padding: 20px;
    gap: 400px;
    position: fixed;
    margin-top: -70px;
    background-color:black;
    height: 70px;
    width: 100vw;
}
.home li a{
    color: rgb(118, 114, 114);
    margin-top: -5px;

}
.home li a:hover{
    color: white;
}
span{
    color: white;
}
i{
    margin-top: 10px;
}
i:hover{
    color: white;
}
.logos{
    display: none;
}
.btn{
   width: 90px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   
}
.btn:hover{
    background-color: rgb(94, 89, 89);
}
.button{
  width: 60px;
  font-size: 16px;
  height: 40px;
  background-color: rgb(38, 37, 37);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
.button:hover{
    background-color: rgb(94, 89, 89);
}
.butn{
    width: 90px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(38, 37, 37);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.butn:hover{
    background-color: rgb(94, 89, 89);
}
.buton{
   width: 90px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   margin-left: 10px;
   cursor: pointer;
}
.buton:hover{
    background-color: rgb(94, 89, 89);
}
.buttn{
   width: 60px;
   height: 40px;
   font-size: 16px;
   background-color: rgb(38, 37, 37);
   border: none;
   border-radius: 5px;
   color: white;
   margin-left: 10px;
   cursor: pointer;
   z-index: 1;
}
.buttn:hover{
    background-color: rgb(139, 132, 132); 
}
.but{
    padding: 90px;
    margin-left: -40px;
    z-index: 5;
    
}
.mixart_container{
    margin-top: -20px;
    margin-left: 50px;
}
.buttom-col{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    gap: 25px;
}
 h1{
    color: white;
    font-size: 40px;
}
.more{
    display: flex;
    gap: 20px;
    float: right;
    margin-right: 120px;
    margin-top: -40px;
}
.img1{
    border-radius: 5px;
}
.img2{
    border-radius: 5px;
}
.img3{
   border-radius: 5px;
}
.img4{
    border-radius: 5px;
}
.img5{
    border-radius: 5px;
}
.img6{
    border-radius: 5px;
}
.bt{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgb(32, 31, 31);
    text-align: center;
    cursor: pointer;
}
.bt:hover{
    background-color: rgb(41, 38, 38);
}
.btttn{
    text-align: center;
    width: 70px;
    color: white;
    background-color: black;
    border: 1px solid  rgb(32, 31, 31);
    border-radius: 40px;
    cursor: pointer;
}
.bttn:hover{
   background-color:  rgb(41, 38, 38);
}
.rosy{
    color: rgb(115, 109, 109);
    font-size: 17px;
    font-weight: bold;
}
h2{
    color: white;
}
.mum{
    padding: 10px;
}


@media screen and (max-width:400px){
    .home{
        display: none;
    }
    .circle_container{
        display: block;
        margin: auto;
    }
    .logos{
        display: block;
    }
    .but{
        position: fixed;
    }
    .buttom-col{
        display: flex;
        flex-direction:column ;
        
    }
    
}




