@import url("menu_bar.css");
@import url("mix_art.css");

*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color-scheme: inherit;
    list-style: none;
    text-decoration: none;
    
}
body{
    background-color: rgb(31, 30, 30);
}