.menu_bar .sea{
    background-color: none;
    width: 20px;
}
.container2{
    display: flex;
    gap: 400px;
    margin-left: 50px;
    margin-top: 20px;
}
.ho{
    display: flex;
    gap: 50px;
}
.ho li a{
    color: rgb(159, 156, 156);
    font-size: 19px;
    font-weight: bold;
}
:hover li a{
color: white;
}
span{
    color: white;
}
.energize{
    display: flex;
    margin-left: 80px;
    margin-top: 70px;
    gap: 50px;
}
.menu-energy{
    margin-left: 70px;
    margin-top: 90px;

}
.energ{
    display: flex;
    gap: 30px;
}
.energ li a{
    color: white;
}
input[type="buttonn"]{
    width: 90px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 92, 92);
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: hidden;
}
input[type="buttoon"]{
    width: 70px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 92, 92);
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: hidden;
    margin-left: 15px;
}
input[type="buttn"]{
    width: 95px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 92, 92);
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: hidden;
    margin-left: 15px;
}
input[type="buton"]{
    width: 95px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 92, 92);
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: hidden;
    margin-left: 15px;
}
input[type="btton"]{
    width: 80px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(95, 92, 92);
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: hidden;
    outline: none;
    margin-left: 15px;
}

