.mix_art .rose{
    width: 210px;
    height: 220px;
}
h1{
    font-size: 30px;
    color: white;
}
.sina{
    width: 210px;
    height: 220px;
}
.mitch{
    width: 210px;
    height: 220px;
}
.flavo{
    width: 210px;
    height: 220px;
}
.white{
    width: 210px;
    height: 220px;
}
.oyibo{
    width: 210px;
    height: 220px;
}
.mag{
    width: 15px;
    background-color: none;
    
}
.mg{
    width: 15px;
}
.artists{
    display: flex;
}