.play_list .play-list-section{
    height: 100%;
    min-height: 500px;
    background-color: black;
}
.recommended_container{
    margin-left: 40px;
}
.btttn{
    text-align: center;
    width: 60px;
    color: white;
    background-color: black;
    border: 1px solid  rgb(32, 31, 31);
    border-radius: 40px;
    cursor: pointer;
}
.buttom-col{
    display: flex;
    
    
}
@media screen and (max-width:400px){
    .buttom-col{
        display: flex;
        flex-direction: column;
    }
}